[client]
port=3306
socket=/starlab/server/database/mysql/mysql.sock
[mysqld]
port=3306
server_id=10
user=mysql
character-set-server=utf8mb4
default_storage_engine=innodb
log_timestamps=SYSTEM
socket=/starlab/server/database/mysql/mysql.sock
basedir=/starlab/server/mysql
datadir=/starlab/server/database/mysql/db
pid-file=/starlab/server/database/mysql/mysqld.pid
max_connections = 1000
max_connect_errors = 1000
table_open_cache = 1024
#table_definition_cache=400
max_allowed_packet = 128M
open_files_limit = 65535
#join_buffer_size=128M
#sort_buffer_size=2M
init_connect='SET NAMES utf8'
#key_buffer_size=16M
#max_allowed_packet=1M
#net_buffer_length=8K
#read_buffer_size=256K
#read_rnd_buffer_size=2M
#myisam_sort_buffer_size=8M
#performance_schema_max_table_instances=400
#log-bin=mysql-bin
#binlog_format=mixed
#=========[innodb]=============#
innodb_buffer_pool_size = 1024M
innodb_file_per_table = 1
innodb_write_io_threads = 4
innodb_read_io_threads = 4
innodb_purge_threads = 2
innodb_flush_log_at_trx_commit = 1
innodb_log_file_size = 512M
innodb_log_files_in_group = 2
innodb_log_buffer_size = 16M
innodb_max_dirty_pages_pct = 80
innodb_lock_wait_timeout = 30
innodb_data_file_path=ibdata1:10M:autoextend
#============[log]==============#
log_error=/starlab/server/database/mysql/mysqld-error.log
slow_query_log=1
long_query_time=1
slow_query_log_file=/starlab/server/database/mysql/mysql-slow.log
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
#[mysqldump]
#quick
#max_allowed_packet = 16M
#[mysql]
#no-auto-rehash
#[myisamchk]
#key_buffer_size = 20M
#sort_buffer_size = 20M
#read_buffer = 2M
#write_buffer = 2M
#[mysqlhotcopy]
#interactive-timeout
#expire_logs_days = 5
#max_binlog_size = 1000M

